<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>ConvNetJS Deep Q Learning RPS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/javascripts/jquery.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
    <script src="/javascripts/convnet-min.js"></script>
    <script src="/javascripts/util.js"></script>
    <script src="/javascripts/vis.js"></script>
    <script src="/javascripts/deepqlearn.js"></script>
    <script src="/javascripts/learner3.js"></script>
    <script src="/javascripts/gamescript.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

<body>
<div id="wrap">
    <h2>ConvNetJS Deep Q RPS Learning Demo</h2>

    <p>
        Rock, paper & scissors reinforcement learning demo
    </p>

    <br/>

    <strong>Neural Network Visualizations</strong> <br/>
    <canvas id="vis_canvas" width="350" height="150"></canvas>
    <canvas id="graph_canvas" width="350" height="150"></canvas>
    <br/>
    <canvas id="net_canvas" width="700" height="200"></canvas>
    <br/>

  
    <strong>Neural Network Stats</strong>  <br/>

    <div id="braininfo"></div>

    <canvas id="my_canvas" width="640" height="480"></canvas>

    <div class="pls">
        <button class="selectors" onclick="scissors()" type="button"><img src="/images/ButtonScissors.png"></button>
        <button class="selectors" onclick="rock()" type="button"><img src="/images/ButtonRock.png"></button>
        <button class="selectors" onclick="paper()" type="button"><img src="/images/ButtonPaper.png"></button>
    </div>

</div>
</body>
</html>
