<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>ConvNetJS Deep Q Learning RPS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/javascripts/convnet-min.js"></script>
    <script src="/javascripts/util.js"></script>
    <script src="/javascripts/vis.js"></script>
    <script src="/javascripts/deepqlearn.js"></script>
    <script src="/javascripts/learner.js"></script>
    <script src="/javascripts/testrps.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <style type="text/css">
        canvas { border: 1px solid white; }
    </style>

</head>
<body onload="begin();">
<div id="wrap">
    <h2>ConvNetJS Deep Q RPS Learning Demo</h2>
    <p>
        Rock, paper & scissors reinforcement learning demo
    </p>

    <br/>

    <strong>Neural Network Visualizations</strong> <br/>
    <canvas id="vis_canvas" width="350" height="150"></canvas>
    <canvas id="graph_canvas" width="350" height="150"></canvas><br />
    <canvas id="net_canvas" width="700" height="200"></canvas><br />

    <br/>

    <strong>Game stats</strong> <br/>
    <p id="actionstat"></p>

    <br/>

    <strong>Choose action</strong> <br/>
    <button onclick="press_r();">Rock</button>
    <button onclick="press_p();">Paper</button>
    <button onclick="press_s();">Scissors</button>

    <br/><br/>

    <strong>Neural Network Stats</strong>
    <div id="braininfo"></div>

</div>
</body>
</html>
